
.root{
  width: 100vw;
  overflow-x: hidden;
}
body {
  background-image: url("../components/arora.jpg");

  overflow-x: hidden;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main{
  
  height: 100vh;
  /* width: 100vw; */
  /* transform: translateY(-10vh); */
  margin: -25px 0;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  overflow-x: hidden;
}

.title{
  padding: 20px 50px;
  color: rgb(225, 255, 255);
}

.title h1:hover{
  cursor: pointer;
}

.body{
  margin-top: 40px;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.input{
  height: 20vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.typewriter{
  padding: 20px 10px;
  font-size: 30px;
  color: white;
  margin-top: 80px;
}
.typewriter b{
  color: rgb(225, 255, 255);
}

.search{
  height: 30px;
  width: 40vw;
  padding: 5px;
  margin: 20px 10px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  background: rgba(255,255,255, 0.4)
 
}

.icon{
  padding: 5px;
  display: flex;
  justify-content: center;
  /* height: 100%; */
}

.text{
  height: 100%;
  width:100%;
  border-radius: 10px;
  background:none;
  outline: none;
  padding: 3px 20px;
  color: aliceblue;
  text-decoration-color: white;
  border: none;
  font-size: 15px;
}

.btn{
  height:130%;
  width: 15%;
  margin-left: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-right: -5px;
  border-radius: 0  10px 10px 0;
  border: none;
  /* font-weight: bolder; */
  font-size: 15px;
  letter-spacing:0.5px;
  
  transition: 0.2s;
  color: rgb(107, 107, 107);
  background: rgba(255,255,255, 0.2)
}

.btn:hover{
  cursor: pointer;
  color: rgb(40, 40, 40);
  background: rgba(255,255,255, 0.3)
}

.live_weather{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  color: rgb(186, 246, 255);
}

.live_weather_main{
  padding: 20px;
  margin: 10px 20px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  height: 30vh;
  width: 80vw;
  box-shadow: 0 0 5px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  background: rgba(255,255,255, 0.05)
}

.p1{
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* align-items: center; */
}

.timezone{
  font-size: 25px;
  font-weight: 400;
}

.p1 p{
  margin: 10px;
  width: 60%;
  text-align: center;
}

.p2{
  /* margin: 5px -10px; */
  transform: translateY(-40px);
}

.p2 p{
  font-size: 45px;
  margin: 10px;
  border-bottom: 30px;
  font-weight:700;
}

.p2 h3{
  font-size: 25px;
  margin: 10px;
  border-bottom: 30px;
}

.p3{
  margin: 20px;
  font-size: 25px;
  font-weight: bolder;
  margin-left: auto;
  
  
}

.p4{
  justify-content: right;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  font-weight: 400;
  /* width: 50%; */
}

.p4 p{
  width: max-content;
  
}

#description{
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 2px;
  margin: 15px 5px;
}

.p4 div{
  transform: scale(1.5);
}

.current_temp{
  font-weight: 700;
  font-size: 20px;
}

.temp {
  padding: 20px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  height: 20vh;
  width: 10vw;
  margin: 20px 30px;
  box-shadow: 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* flex-wrap: wrap; */
  align-items: center;
  background: rgba(255,255,255, 0.05)
}

.temp h2{
  margin: 5px 10px;
  transform: scale(2.3);
}

.temp h3{
  margin: 5px 10px;
  
}

.max_min_temp{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.max_min_temp div{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wind{
  padding: 20px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  height: 20vh;
  width: 18vw;
  margin: 20px 30px;
  box-shadow: 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* flex-wrap: wrap; */
  align-items: center;
  background: rgba(255,255,255, 0.05)
}

.wind h2,.wind h3,.wind p{
  margin: 0px 10px;
}

.wind h2{
  display: flex;
  align-items: center;
}

.wind_info{
  display: flex;
  margin: 5px;
}

.air{
  padding: 20px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  height: 20vh;
  width: 20vw;
  margin: 20px 30px;
  box-shadow: 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* flex-wrap: wrap; */
  align-items: center;
  background: rgba(255,255,255, 0.05)
}

.air h2,.air h3,.air p{
  margin: 0px 0px;
}

.air_qu{
  display: flex;
}

.in_air_qu{
  display: flex;
  flex-direction: column;
  width: max-content;
}

.air_info{
  display: flex;
  align-items: center;
  margin: 5px;
}

#water_drop{
  transform: scale(2.5) translateY(3px);
}

.sun_moon{
  padding: 20px;
  margin: 20px 30px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  height: 20vh;
  width: 15vw;
  box-shadow: 0 0 5px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  background: rgba(255,255,255, 0.05);
}

.sun_moon div{
  display: flex;
}

.in_sm{
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
}

.in_sm h2{
  display: flex;
  align-items: center;
}

.sm_info{
  display: flex;
  margin: 5px;
}

.sun_moon h2,.sun_moon h3,.sun_moon p{
  margin: 3px 10px;
}

.p1 h2{
  font-size: 50px;
  letter-spacing: 2px;
  margin: 10px 5px;
  
}

.today{
  display: flex;
}

.forecast{
  display: flex;
  align-items: center;
  transform: scaleX(0.9);
}

.Card_title{
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Card_title div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Card_title h3,.Card_title p{
  margin: 5px 5px;
}
.Card{
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9vw;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  background: rgba(255,255,255, 0.05)

}

#inCard_{
  width: 11vw;
}


.Card h3,.inCard p{
  margin: 7px 5px;
}

.switch{
  display: flex;
  font-size: 20px;
  width: 30vw;
  justify-content: center;
  margin-top: 20px;
}

.switch_{
  border-radius: 10px;
  box-shadow: 0 0 5px;
  padding: 8px 30px;
  margin: 2px 20px;
  transition: 0.3s;
  /* color: rgb(22, 143, 151); */
  background: rgba(255,255,255, 0.05)
}

.switch_:hover{
  cursor: pointer;
  box-shadow:  0 0 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.header{
  display: flex;
  align-items: center;

}

.nav{
  display: flex;
  padding: 5px 20vw;
  align-items: center;
  transform: translateY(15px);
}

.page{
  margin: 15px;
  font-size: 22px;
  font-weight: 600;
  color: aliceblue;
  border-radius: 5px;
  transition: 0.3s;
  padding: 10px;
}

.page:hover{
  cursor: pointer;
  color: rgb(26, 166, 176);
  background: rgba(255,255,255, 0.1)
}

#search{
  width: 25vw;
  margin-right: 5vw;
}

#btn{
  width: 25%;
}

.about1{
  
  font-size: 18px;
  margin: 10px 5vw;
  padding: 5px;
  color: aliceblue;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}

.makescroll{
  display: flex;
}

.main_about{
  margin: auto;
  width: 80vw;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(26, 166, 176);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* Making Website responsive */

@media only screen and (max-width: 1400px) and (min-width: 1000px) {

  .live_weather_main{
    height: 40vh;
  }
  .nav{
    padding: 10px 13vw;
  }
  #search{
    width: 27vw;
    margin-right: 5vw;
  }
  #btn{
    width: 35%;
  }
  .p2{
    width: 20vw;
  }

  .switch{
    width: 40vw;
  }
  .temp,.wind,.sun_moon,.air{
    margin: 10px 10px;
    height: 13vw;
  }
  .temp{
    width: 15vw;
    
    /* padding: 5px; */
  }
  .air{
    width: 30vw;
  }
  .wind{
    width: 25vw;
  }
  .today{
    
    transform: scale(0.85);
  }
  .inCard p{
    height: 40px;
    text-align: center;
  }
  .forecast{
    transform: scale(0.87);
  }

  .Card h3,.Card_title h3{
    height: 50px;
    text-align: center;
  }
  .Card_title div{
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
  
  .header{
    flex-wrap: wrap;
    justify-content: center;
  }

  .title{
    padding: 0px 15px;
    margin: 0px 20px;
    transform: translateY(15px);
  }

  #search{
    width: 45vw;
    margin: 30px ;
  }

  .live_weather_main{
    height: 40vh;
  }

  .p3{
    margin: 0px;
    font-size: 19px;
    font-weight: bolder;
    margin-left: -34px;
  }

  .p1 h2{
    font-size: 40px;
  }
  .p2{
    width: 30vw;
    transform: translateY(-50px);
  }
  .p2 p{
    font-size: 35px;
  }
  
  .page{
    margin: 0px 15px;
  }

  .nav{
    padding: 10px 13vw;
  }
 
  #btn{
    width: 35%;
  }
  

  .switch{
    width: 70vw;
  }
  .temp,.wind,.sun_moon,.air{
    margin: 10px 20px;
    height: 25vw;
  }
  .temp{
    width: 25vw;
    
    /* padding: 5px; */
  }
  .air{
    width: 45vw;
  }
  .wind{
    width: 45vw;
  }
  .sun_moon{
    width: 25vw;
  }
  .today{
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    /* transform: scale(0.85); */
  }

  .makescroll{
    width: 90vw;
    overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border-left: 1px solid rgb(186, 246, 255);
        border-right: 1px solid rgb(186, 246, 255);
        /* border-radius: 10px; */
        /* mask-border-mode:alpha; */
  }

  .inCard p{
    height: 40px;
    text-align: center;
    white-space:normal;
  }

  .inCard,#inCard_{
    width: 15vw;
  }

  
  .forecast{
    transform: scale(0.87);
  }

  .Card h3,.Card_title h3{
    height: 50px;
    text-align: center;
  }
  .Card_title div{
    align-items: center;
    justify-content: center;
  }


}


@media only screen and (max-width: 700px) and (min-width: 600px) {
  
  .header{
    flex-wrap: wrap;
    justify-content: center;
  }

  .title{
    padding: 0px 15px;
    margin: 0px 20px;
    transform: translateY(15px);
  }

  #search{
    width: 45vw;
    margin: 30px ;
  }

  .live_weather_main{
    height: 40vh;
    width: 120vw;
    transform: scale(0.75);
  }

  .p3{
    margin: 0px;
    font-size: 19px;
    font-weight: bolder;
    margin-left: -34px;
  }

  .p1 h2{
    font-size: 40px;
  }
  .p2{
    
    width: 30vw;
    transform: translateY(-50px);
  }
  .p2 p{
    font-size: 35px;
  }
  
  .page{
    margin: 0px 15px;
  }

  .nav{
    padding: 10px 13vw;
  }
 
  #btn{
    width: 35%;
  }
  

  .switch{
    width: 70vw;
  }
  .temp,.wind,.sun_moon,.air{
    margin: 10px 20px;
    height: 25vw;
  }
  .temp{
    width: 25vw;
    
    /* padding: 5px; */
  }
  .air{
    width: 45vw;
  }
  .wind{
    width: 45vw;
  }
  .sun_moon{
    width: 25vw;
  }
  .today{
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    /* transform: scale(0.85); */
  }

  .makescroll{
    width: 90vw;
    overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border-left: 1px solid rgb(186, 246, 255);
        border-right: 1px solid rgb(186, 246, 255);
        /* border-radius: 10px; */
        /* mask-border-mode:alpha; */
  }

  .inCard p{
    height: 40px;
    text-align: center;
    white-space:normal;
  }

  .inCard,#inCard_{
    width: 15vw;
  }

  
  .forecast{
    transform: scale(0.87);
  }

  .Card h3,.Card_title h3{
    height: 50px;
    text-align: center;
  }
  .Card_title div{
    align-items: center;
    justify-content: center;
  }

  .about1{
    font-size: 18px;
    line-height: 28px;
  }
}



@media only screen and (max-width: 600px) and (min-width: 425px) {
  
  .header{
    flex-wrap: wrap;
    justify-content: center;
  }

  .title{
    padding: 0px 15px;
    margin: 0px 20px;
    transform: translateY(10px);
  }

  #search{
    width: 75vw;
    margin: 20px ;
  }

  .live_weather_main{
    margin-top: 40px;
    width: 85vw;
    padding: 0;
    height: 70vh;
    flex-direction: column;
  }

  .p3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -10px 0;
    /* padding: 20px 0; */
    font-size: 19px;
    font-weight: bolder;
    margin-left: -34px;
  }

  .p4{
    justify-content: center;
    margin: 0 0px;
  }

  .p1{
    margin: 0px 10px;
    align-items: center;
  }
  .p1 h2{
    font-size: 40px;
    margin: 5px;
  }
  .p2{
    margin: 0px 0;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
    transform: translateY(0px);
  }
  .p2 p,.p2 h3{
    font-size: 30px;
    margin: 10px 40px;
  }
  
  .page{
    margin: 0px 15px;
  }

  .nav{
    padding: 0px 13vw;
    transform: translateY(0);
  }
 
  #btn{
    width: 35%;
  }
  

  .switch{
    width: 90vw;
  }
  .temp,.wind,.sun_moon,.air{
    margin: 10px 20px;
    height: 35vw;
    width: 70vw;
  }
  
  .today{
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    /* transform: scale(0.85); */
  }

  .makescroll{
    width: 90vw;
    overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border-left: 1px solid rgb(186, 246, 255);
        border-right: 1px solid rgb(186, 246, 255);
        /* border-radius: 10px; */
        /* mask-border-mode:alpha; */
  }

  .inCard p{
    height: 40px;
    text-align: center;
    white-space:normal;
  }

  .inCard,#inCard_{
    width: 25vw;
  }

  
  .forecast{
    transform: scale(0.8);
  }

  .Card h3,.Card_title h3{
    height: 50px;
    text-align: center;
  }
  .Card_title div{
    align-items: center;
    justify-content: center;
  }

  .about1{
    font-size: 15px;
    line-height: 25px;
  }
}


@media only screen and (max-width: 425px) and (min-width: 320px) {
  
  .header{
    flex-wrap: wrap;
    justify-content: center;
  }

  .title{
    padding: 0px 15px;
    margin: 0px 20px;
    transform: translateY(10px);
  }

  #search{
    width: 75vw;
    margin: 20px ;
  }

  .live_weather_main{
    margin-top: 40px;
    width: 85vw;
    padding: 0;
    height: 70vh;
    flex-direction: column;
  }

  .p3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -10px 0;
    /* padding: 20px 0; */
    font-size: 19px;
    font-weight: bolder;
    margin-left: -34px;
  }

  .p4{
    justify-content: center;
    margin: -15px 0px;
  }
  
  #description{
    font-size: 28px;
  }

  .p1{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    align-items: center;
  }
  .p1 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    margin: 5px;
  }

  .p1 p{
    width: auto;
  }
  .p2{
    margin: 0px 0;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
    transform: translateY(0px);
  }
  .p2 p,.p2 h3{
    font-size: 30px;
    text-align: center;
  }
  
  .page{
    margin: 0px 15px;
  }

  .nav{
    padding: 0px 13vw;
    transform: translateY(0);
  }
 
  #btn{
    width: 35%;
  }
  

  .switch{
    width: 100vw;
  }

  .switch_{
    padding: 10px;
  }
  .temp,.wind,.sun_moon,.air{
    margin: 10px 20px;
    height: 40vw;
    width: 85vw;
    transform: scale(0.9);
  }
  
  .today{
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    /* transform: scale(0.85); */
  }

  .makescroll{
    width: 90vw;
    overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border-left: 1px solid rgb(186, 246, 255);
        border-right: 1px solid rgb(186, 246, 255);
        /* border-radius: 10px; */
        /* mask-border-mode:alpha; */
  }

  .inCard p{
    height: 40px;
    text-align: center;
    white-space:normal;
  }

  .inCard,#inCard_{
    width: 25vw;
  }

  
  .forecast{
    transform: scale(0.75);
  }

  .Card h3,.Card_title h3{
    height: 50px;
    text-align: center;
  }
  .Card_title div{
    align-items: center;
    justify-content: center;
  }

  .about1{
    font-size: 12px;
    line-height: 18px;
  }
}